@import "tailwindcss";

:root {
  --color-button-light: #d2d2d2;
  --color-button-dark: #3a3a3a;

  --color-button-disabled-light: #e1e1e1;
  --color-button-disabled-dark: #2d2d2d;

  --color-button-selected-light: #3b82f6;
  --color-button-selected-dark: #2563eb;

  --color-layout-light: #f0f0f0;
  --color-layout-dark: #232323;

  --color-layout-border-light: #d2d2d2;
  --color-layout-border-dark: #464646;

  --color-link: #3b82f6;

  --color-widget-light: #f0f0f0;
  --color-widget-dark: #232323;

  --color-widget-border-light: #d2d2d2;
  --color-widget-border-dark: #464646;
}

@theme {
  --color-button: var(--color-button-light);
  --color-button-disabled: var(--color-button-disabled-light);
  --color-button-selected: var(--color-button-selected-light);

  --color-layout: var(--color-layout-light);
  --color-layout-border: var(--color-layout-border-light);

  --color-link: var(--color-link);

  --color-widget: var(--color-widget-light);
  --color-widget-border: var(--color-widget-border-light);
}

.dark {
  @theme {
    --color-button: var(--color-button-dark);
    --color-button-disabled: var(--color-button-disabled-dark);
    --color-button-selected: var(--color-button-selected-dark);

    --color-layout: var(--color-layout-dark);
    --color-layout-border: var(--color-layout-border-dark);

    --color-widget: var(--color-widget-dark);
    --color-widget-border: var(--color-widget-border-dark);
  }
}

@layer components {
  p,
  span,
  table {
    @apply text-black dark:text-white;
  }
  table {
    @apply border-separate border-spacing-0;
  }
  table tr th:first-child,
  table tr td:first-child {
    @apply border-l border-neutral-300 dark:border-neutral-600;
  }
  table tr:first-child th:first-child {
    @apply rounded-tl-lg;
  }
  table tr:first-child th:last-child {
    @apply rounded-tr-lg;
  }
  table tr:last-child td:first-child {
    @apply rounded-bl-lg;
  }
  table tr:last-child td:last-child {
    @apply rounded-br-lg;
  }
  td {
    @apply border-b border-r border-neutral-300 bg-neutral-200 p-1 dark:border-neutral-600 dark:bg-neutral-700;
  }
  th {
    @apply border-b border-r border-t border-neutral-300 bg-neutral-400 p-1 first:border-l dark:border-neutral-600 dark:bg-neutral-500;
  }
  tr {
    @apply border-b border-r border-t border-neutral-300 bg-neutral-200 p-1 dark:border-neutral-600 dark:bg-neutral-700;
  }
  ol {
    @apply text-black dark:text-white list-decimal space-y-2 pl-6;
  }
  ul {
    @apply text-black dark:text-white list-disc space-y-2 pl-6;
  }
}

@layer utilities {
  .text-theme {
    @apply text-black dark:text-white;
  }
}
